@model ShopToAbroad.Models.Product

@{
    ViewBag.Title = " Product Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .heading {
        color: royalblue;
        font-weight: bold;
    }

    .data {
        font-weight: bold;
    }

   
</style>


<div class="row">
    <div class="col-md-8">
        <dl class="dl-horizontal ">
            <dt class="heading">
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.QuantityPerUnit)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.QuantityPerUnit)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.OldPrice)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.OldPrice)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.UnitWeight)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.UnitWeight)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.Size)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.Size)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.Discount)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.Discount)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.UnitInStock)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.UnitInStock)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.UnitOnOrder)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.UnitOnOrder)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.ProductAvailable)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.ProductAvailable)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.ImageURL)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.ImageURL)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.AltText)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.AltText)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.AddBadge)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.AddBadge)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.OfferTitle)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.OfferTitle)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.OfferBadgeClass)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.OfferBadgeClass)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.ShortDescription)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.ShortDescription)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.LongDescription)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.LongDescription)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.Picture1)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.Picture1)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.Picture2)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.Picture2)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.Picture3)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.Picture3)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.Picture4)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.Picture4)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.Note)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.Note)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.Category.Name)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.SubCategory.Name)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.SubCategory.Name)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.Supplier.CompanyName)
            </dt>

            <dd class="data">
                @Html.DisplayFor(model => model.Supplier.CompanyName)
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <div>
            <img src="~/Content/Images/ProfileImage.svg" alt="" class="img-thumbnail" width="160" height="160" />
        </div>
    </div>
</div>
<p >
    @Html.ActionLink("Back to List", "Index")
</p>